body {
	background-color: #8CBDE1;
	font-family: Arial;
	margin: 0;
	padding: 0;

}
/* Обертка верха*/
.wrapper-top {
	background: -moz-linear-gradient(rgb(140,189,225), rgb(79,153,208));
	background: -webkit-linear-gradient(rgb(140,189,225), rgb(79,153,208));
	background: -o-linear-gradient(rgb(140,189,225), rgb(79,153,208));
	background: linear-gradient(rgb(140,189,225), rgb(79,153,208));
	border-bottom: 10px solid #fff;
	height: 160px;
	height: 237px;
	width: 100%;
}

.wrapper {
	width: 100%;
}

/* Конец обертки верха*/


/*Картинка с облаками*/
.main-picture p.p-name {
	color: #EEF5FD;
	font-size: 44px;
	font-weight: bold;
	margin: 15px 0 0 15px;
}

.main-picture p.p-author {
	color: #2661CE;
	font-size: 24px;
	font-weight: bold;
	margin: 125px 15px 15px 0;
	text-align: right;
}

.two-green-lines-link {
	border-bottom: 2px solid #009900;
	color: #009900;
	cursor: pointer;
	display: inline-block;
	text-decoration: underline;
}

.wrapper-picture {
	margin: 0 auto;
	position: relative;
}

.main-picture {
	background-image: url(picture.jpg);
	border: 10px solid #fff;
	height: 237px;
	margin: -140px auto 0 auto;
	position: relative;
	width: 880px;
	z-index: 999;

}

/*Картинка с облаками*/

/*Обертка для сайдбаров и центра*/

.container {
	background: -moz-linear-gradient(rgb(79,153,208),rgb(140,189,225));
	background: -o-linear-gradient(rgb(79,153,208),rgb(140,189,225));
	background: -webkit-linear-gradient(rgb(79,153,208),rgb(140,189,225));
	background: linear-gradient(rgb(79,153,208),rgb(140,189,225));
	margin-bottom: 0;
	margin-top: -115px;
	padding-bottom: 0;
	position: relative;
	width: 100%;
}

.main-part {
	background-color: #fff;
	margin: 0 auto;
	width: 900px;
}

.main-part::after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
}

/*Левая колонка*/

.sidebar-left {
	float: left;
	margin: 0 10px 10px 10px;
	padding-top: 115px;
	width: 215px;
}

.sidebar-left-1 ul {
	list-style-type: none;
	padding: 5px;
}


.sidebar-left-1 {
	background: -moz-linear-gradient(rgb(209,230,243) 8px, rgb(175,211,235) 16px);
	background: -o-linear-gradient(rgb(209,230,243) 8px, rgb(175,211,235) 16px);
	background: -webkit-linear-gradient(rgb(209,230,243) 8px, rgb(175,211,235) 16px);
	background: linear-gradient(rgb(209,230,243) 8px, rgb(175,211,235) 16px);
	border-radius: 0 20px 0 0;
	display: inline-block;
	float: left;
	width: 215px;
}

.bottom-gradient-plus-left {
	background: -moz-linear-gradient(rgb(175,211,235), rgb(209,230,243));
	background: -o-linear-gradient(rgb(175,211,235), rgb(209,230,243));
	background: -webkit-linear-gradient(rgb(175,211,235), rgb(209,230,243));
	background: linear-gradient(rgb(175,211,235), rgb(209,230,243));
	border-radius: 0 0 20px 0;
	display: inline-block;
	height: 16px;
	width: 215px;
}

/*Конец левой колонки*/

/*Центральная часть*/

.main-content-wrapper {
	display: inline-block;
	float: left;
	padding-top: 100px;
	width: 430px;
}

.main-content {
	background-color: rgb(238,245,251);
	border-radius: 20px;
	margin: 0 auto;
	width: 430px;


}
.main-content-2 {
	background-color: rgb(238,245,251);
	border-radius: 20px;
	display: inline-block;
	float: left;
	margin: 0 auto;
	width: 430px;
}

.main-content h2, .main-content-2 h2 {
	color: #1779D4;
	display: block;
	font-family: Arial;
	font-size: 18px;
	line-height: 12px;
	padding-top:10px;
	position: relative;
	text-indent: 10px;

}

.main-content p, .main-content-2 p {
	display: block;
	font-size: 12px;
	margin-top: -.5em;
	padding: 0 10px 10px 10px;
	text-align: justify;
}

.more {
	border-bottom: 1px solid #009900;
	color: #009900;
	cursor: pointer;
	display: inline-block;
	line-height: 1.3em;
	text-decoration: underline;
	text-indent: 0;
}

/*Жирный в тексте*/   

.in-text-bold {
	font-weight: bold;
}

/*Конец центральной части*/


.link-in-text-green {
	border-bottom: 1px solid #009900;
	color: #009900;
	display: inline;
	text-decoration: underline;
}

.link-in-text {
	color: #17A3E9;
}

.link-in-text:hover {
	border-bottom: 1px dotted #A0D8E9;
	color: #A0D8E9;
	cursor: pointer;
}

.articles {
	color: #1D5174;
	display: block;
	font-size: 17px;
	font-weight: bold;
	line-height: 5px;
	padding-left: 22px;
}
.sidebar-left-1 ul a {
	color: #1779D4;
	display: block;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 10px;
	padding: 5px;
	text-align: left;
	text-decoration: none;
}

.sidebar-left ul a:hover, .sidebar-right ul a:hover {
	color: #CFEBDD;
}


/*Сайдбар правый*/

.sidebar-right {
	float: left;
	margin-left: 0px;
	padding-top: 115px;
	width: 215px;
}

.sidebar-right-1, .sidebar-right-2, .sidebar-right-3, .sidebar-right-4 {
	background: -moz-linear-gradient(rgb(209,230,243) 8px, rgb(175,211,235) 16px);
	background: -o-linear-gradient(rgb(209,230,243) 8px, rgb(175,211,235) 16px);
	background: -webkit-linear-gradient(rgb(209,230,243) 8px, rgb(175,211,235) 16px);
	background: linear-gradient(rgb(209,230,243) 8px, rgb(175,211,235) 16px);
	border-radius: 20px 0 0 0;
	display: inline-block;
	height: 190px;
	margin: 0 10px 20px 10px;
	width: 215px;
}

.sidebar-right-4 {
	height: 170px;
}

.bottom-gradient-plus-right {
	background: -moz-linear-gradient(rgb(175,211,235), rgb(209,230,243));
	background: -o-linear-gradient(rgb(175,211,235), rgb(209,230,243));
	background: -webkit-linear-gradient(rgb(175,211,235), rgb(209,230,243));
	background: linear-gradient(rgb(175,211,235), rgb(209,230,243));
	border-radius: 0 0 0 20px;
	display: inline-block;
	height: 16px;
	margin: 0 10px 0 0;
	width: 215px;
}

.sidebar-right ul {
	list-style-type: none;
	padding: 5px;
}    
    
.sidebar-right .articles {
	display: block;
	margin-right: 10px;
	text-align: right;
}

.sidebar-right ul a {
	color: #1779D4;
	display: block;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	line-height: 10px;
	padding: 5px;
	text-align: right;
	text-decoration: none;
}
    
.contact-us {
	color: #1779D4;
	display: block;
	font-family: Arial;
	font-size: 12px;
	margin-left: 10px;
	text-decoration: none;
	width: 63px;
}

.contact-us:hover {
	border-bottom: 1px dotted #4DA9F1;
	color: #4DA9F1;
	width: 63px;

}

/*Конец сайдбара правого*/
    
    
/* Clear fix after 3 colmns*/

.container::after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
}

.wrapper::after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
}
.main-part::after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
}

.footer {
	background-color: #fff;
	height: 40px;
	margin: 0 auto;
	width: 900px;
}

.footer p {
	color: #1779D4;
	display: block;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	line-height: 45px;
	margin: 0 auto;
	text-align: center;
}

.footer p a{
	cursor: pointer;
}
    
.footer p a:hover{
	border-bottom: 1px dotted #4DA9F1;
	color: #4DA9F1;
}    
    
    
    
    
    
    
    
   
    
